= f.error_messages 
%ul#subapps_tabs.subsection_tabs
  %li.tab
    %a{ :href => "#settings" }
      settings
  %li.tab
    %a{ :href => "#partial" }
      input partial
  %li.tab
    %a{ :href => "#files" }
      files
  %li.tab
    %a{:href => "#jsdl"}
      job template
  
#settings.tabpanel
  .prop_row
    .label
      name
    .field
      = f.text_field :name, :size => 40

  .prop_row
    .label
      executable
    .field
      = f.text_area :executable, :rows => 5
      
  .prop_row
    .label
      tech_name
    .field
      = f.text_field :tech_name, :size => 40
      
  .prop_row
    .label
      state
    .field
      -if cannot? :approve, @subapp
        = @subapp.state
      -else
        -@state_pairs = Subapp::STATE_LIST.map {|state| [state.humanize, state]; }
        =f.select :state, @state_pairs
      
  .prop_row
    .label
      actions
    .field
      =link_to 'Clone', :action => 'clone_action', :id => @subapp.id

  
#partial.tabpanel
  .label
    input_partial
    
  .field
    = f.text_area :input_partial, :size => "80x50"
    
#files.tabpanel
  -files = @subapp.application_files.find(:all, :select => "id, name, version, is_executable, created_at")
  -if files
    %table
      %tr
        %th
          name 
        %th
          version
        %th
          created at
        %th
          is executable?
      -files.each_with_index do |file, idx|      
        %tr{:class => ((idx % 2 == 0)? 'even' : 'odd')}
          %td
            =link_to file.name, {:controller => :application_files, :action => :bytes, :id => file.id}, :target => '_blank'
          %td=file.version
          %td=file.created_at.to_s(:db)
          
          %td=file.is_executable
          %td
            =link_to "Unlink", :action => :unlink, :application_file_id => file.id, :id => @subapp.id
    
  

  =link_to "Add new", :controller => :application_files, :action => :new, :subapp_id => @subapp.id
  
#jsdl.tabpanel
  .label
    = f.label :jsdl
  .field
    = f.text_area :jsdl, :size => "80x50"
    
:javascript
  new Control.Tabs('subapps_tabs');    