<h1>Editing subapp</h1>

<% form_for(@subapp) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @subapp %> |
<%= link_to 'Back', subapps_path %>