<h1>Listing preferences</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Prefs</th>
  </tr>

<% @preferences.each do |preference| %>
  <tr>
    <td><%=h preference.person_id %></td>
    <td><%=h preference.prefs %></td>
    <td><%= link_to 'Show', preference %></td>
    <td><%= link_to 'Edit', edit_preference_path(preference) %></td>
    <td><%= link_to 'Destroy', preference, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New preference', new_preference_path %>