
%ul#launch_tabs.subsection_tabs
  %li.tab
    %a{ :href => "#settings" }
      settings
  %li.tab
    %a{ :href => "#options" }
      options
  %li.tab
    %a{ :id => "control_tab", :href => "#control"}
      control
  %li.tab
    %a{ :id => "info_tab", :href => "#info"}
      info
#settings.tabpanel
  =@input_html
-form_for @launch do |f|
  #options.tabpanel
    .panel_in_tab
      = f.error_messages
      =f.hidden_field :subapp_id
      =f.hidden_field :settings
      %input{:type => 'hidden', :name => 'default_tab', :value => 'control'}
      .prop_row
        .label
          = f.label :name 
        .field
          = f.text_field :name, :size => 40
        .long_desc{:style => 'display: none'}
          It must be unique although it is not necessary to fill it out. In case you leave it empty the portal generate
          a proper name. 
      .prop_row
        .label
          parent launch
        .field
          -if @launch.parent
            %a{:href=> edit_launch_path(@launch.parent)}
              =@launch.parent.name
          -else
            \-
        .long_desc{:style => 'display: none'}
          The 'parent' launch, if exists.
      .prop_row
        .label
          sub-application
          #subapp_id{:style => 'display:none'}<
            =@launch.subapp.id
          
        .field
          -if @launch.state == Launch::CREATED
            -subappname = @launch.subapp ? @launch.subapp.name : ""
            -sent_subappname = params[:subapp_lookup]
            -subappname = sent_subappname if sent_subappname
            
            
            %input#subapp_lookup{:type => 'text', :name => 'subapp_lookup', :value => subappname, :size => 40}
            #subapp_name_choices.autocomplete
            :javascript
              new Ajax.Autocompleter("subapp_lookup", "subapp_name_choices", "#{url_for(:controller => :subapps, :action => :subapp_name_autocomplete)}", {
                paramName: "value",
                callback: function (input, query){
                  return $H({value: input.value}).toQueryString()
                }
              });
            =f.submit "Transpose", :onclick=> 'collect_and_submit();'
          -else
            = @launch.subapp.name
          %a{:href=> edit_subapp_path(@launch.subapp)}
            show
            
          
          
          
          
        .long_desc{:style => 'display: none'}
          The type of the launch describes the name of the executables, the files you want to get uploaded by the 
          portal and other technical options.
    
      =f.submit "Clone", :onclick=> 'collect_and_submit();' if (@launch.id && @launch.state != Launch::DESTROYING) 
    

  #control.tabpanel
    .panel_in_tab
      .prop_row
        .label
          current state
        .field
          =@launch.state.to_s.humanize
          =f.submit :refresh_state.to_s.humanize, :onclick => 'collect_and_submit()'
        .long_desc{:style => 'display: none'}
          The state of the launch is the aggregation of the jobs' states belong to it.

          
      .prop_row
        .label
          actions
        .field
          -(@launch.available_actions - [:refresh_state]).each do |action|
            =f.submit action.to_s.humanize, :onclick => 'collect_and_submit()'
        .long_desc{:style => 'display: none'}
          Be aware that these actions are started asynchronously, do not expect immediate result.
      -unless @launch.new_record?
        .prop_row
          .label
            working directory
          .field
            -url = LaunchDirs.new(@launch).launch_root_url
            %a{:href => "#{url}", :target => "_blank"}
              open in new window
          .long_desc{:style => 'display: none'}
            Click to the link to see the working directory.
      -if @launch.state == Launch::FINISHED
        .prop_row
          .label
            published results
          .field
            -url = LaunchDirs.new(@launch).launch_publish_url
            %a{:href => "#{url}", :target => "_blank"}
              open in new window
          .long_desc{:style => 'display: none'}
            Click to the link to see the publish directory.        
      #jobs.group
  
#info.tabpanel
  .panel_in_tab
    .prop_row
      .label
        executable
      #info_command.field
      .long_desc{:style => 'display: none'}
        The name of the executable to run.
      
    .prop_row
      .label
        command arguments
      #info_command_args.field
      .long_desc{:style => 'display: none'}
        The command argument, might be parametric, if you are using sequences.
    
    #launch_files
    
    #launch_references
    
    #launch_sequences

        
      
    
:javascript

  var defaultTab = '#{params[:default_tab]}'

  new Control.Tabs('launch_tabs', {defaultTab: defaultTab || 'first'});
  
  function loadControlTab(){
    new Ajax.Request('#{url_for(:controller => :jobs, :action => :select, :params => {:orders => 'state ASC', :launch_id => @launch.id})}');
  }
  
  if(defaultTab == 'control'){
    loadControlTab();
  }
  
  $('control_tab').observe('click', function(event){
    loadControlTab();
  });

  
  function collect_and_submit(){
    
    var launch_params = prepareSubmit()
    nameFromId($('partial_form'))
    var formData = $('partial_form').serialize(true)
    var cleanFormData = {}
    $H(formData).each(function(pair){
      if(!pair.key.endsWith('_prototype')){
        cleanFormData[pair.key] = pair.value
      }
    })
    formData = cleanFormData;
    var settings  = {
      form_data: formData,
      launch_params: launch_params
    }
    var serString = Object.toJSON(settings)
    $('launch_settings').value = serString
    return true
    
  }     
  
  var settings_str = $('launch_settings').value;
  
  var settings = {form_data: {}, launch_params: {}}
  try{
    if(settings_str !== undefined){
      settings = settings_str.evalJSON(true)
    }
  }
  catch(e){
    //TODO log
  }
  var partial_form = $('partial_form');
  if(partial_form.preInit){
    partial_form.preInit(settings);
  }
  nameFromId($('partial_form'))

  Form.fillForm('partial_form', settings.form_data);
  $('partial_form').init(); 
  nameFromId($('partial_form')); 
  
  function readonlyMode(){
    $('partial_form').disable();
    $('partial_form').select("a").each(function(element){
      element.onclick = "return false;"
    })
  } 
  
  if(#{!@launch.editable?}){
    readonlyMode();
  }

= render :partial => 'info_tab'  
  
   