
%ul#launch_tabs.subsection_tabs
  %li.tab
    %a{ :href => "#settings" }
      settings
  %li.tab
    %a{ :href => "#options" }
      options
  %li.tab
    %a{ :href => "#jobs"}
      jobs
#settings.tabpanel
  =@input_html
  

#options.tabpanel
  -form_for @launch do |f|
    = f.error_messages
    =f.hidden_field :subapp_id
    .prop_row
      .label
        = f.label :name 
      .field
        = f.text_field :name, :size => 40
    .prop_row
      .label
        = f.label :settings 
      .field
        = f.text_area :settings, :rows => 20
    = f.submit controller.action_name, :onclick => 'collect_and_submit()'
    %input{:type => 'button', :onclick=> 'collect_and_submit();', :value => 'serialize'}

#jobs.tabpanel
  .asdf
    sdf
:javascript

  new Control.Tabs('launch_tabs');
  
  function collect_and_submit(){
    
    var launch_params = prepareSubmit()
    nameFromId($('partial_form'))
    var formData = $('partial_form').serialize(true)
    var cleanFormData = {}
    $H(formData).each(function(pair){
      if(!pair.key.endsWith('_prototype')){
        cleanFormData[pair.key] = pair.value
      }
    })
    formData = cleanFormData;
    var settings  = {
      form_data: formData,
      launch_params: launch_params
    }
    var serString = Object.toJSON(settings)
    $('launch_settings').value = serString
    return true
    
  }     
  
  var settings_str = $('launch_settings').value;
  
  
  var settings = {form_data: {}, launch_params: {}}
  try{
    if(settings_str !== undefined){
      settings = settings_str.evalJSON(true)
    }
  }
  catch(e){
    //TODO log
  }
  var partial_form = $('partial_form');
  if(partial_form.preInit){
    partial_form.preInit(settings);
  }
  nameFromId($('partial_form'))

  Form.fillForm('partial_form', settings.form_data);
  $('partial_form').init(); 
  nameFromId($('partial_form'));  
  
  
   