
%ul#launch_tabs.subsection_tabs
  %li.tab
    %a{ :href => "#settings" }
      settings
  %li.tab
    %a{ :href => "#options" }
      options
#settings.tabpanel
  =@input_html
  

#options.tabpanel
  -form_for @launch do |f|
    = f.error_messages
    =f.hidden_field :subapp_id
    .prop_row
      .label
        = f.label :name 
      .field
        = f.text_field :name, :size => 40
    .prop_row
      .label
        = f.label :settings 
      .field
        = f.text_area :settings, :rows => 20
    = f.submit controller.action_name, :onclick => 'collect_and_submit()'
    %input{:type => 'button', :onclick=> 'collect_and_submit();', :value => 'serialize'}
:javascript

  new Control.Tabs('launch_tabs');
  
  function collect_and_submit(){
  
    prepareSubmit();
    var object = $('partial_form').serialize(true);
    var serString = Object.toJSON(object);
    $('launch_settings').value = serString;
    return true;
    
  }     
  
  var settings = $('launch_settings').value;
  var partial_form = $('partial_form');
  if(partial_form.preInit){
    partial_form.preInit(settings);
  }
  if(settings.isJSON()){
    Form.deserializeJSON('partial_form', settings);
  }
  $('partial_form').init();  
   