%h3 Launch history
%form
  %input#launch_search{:type => 'text', :name => 'launch_search'}
  #launch_choices.autocomplete
:javascript
  new Ajax.Autocompleter("launch_search", "launch_choices", "#{url_for(:controller => :launches, :action => :search_autocomplete)}", {
    paramName: "value",
    callback: function (input, query){
      return $H({value: input.value}).toQueryString()
    }
  });
=page_entries_info(@launches, {})

%table
  %tr
    %th
      = ordering_link "Name", :name, params
    %th 
      = ordering_link "Created at", :created_at, params, 'DESC'
    %th 
      = ordering_link "State", :state, params
  - @launches.each_with_index do |launch, idx|
    %tr{:class => (idx % 2 == 0) ? "even" : "odd"}
      %td= h launch.name
      %td= h launch.created_at
      %td= h launch.state
      %td
        .action_link= link_to 'show', edit_launch_path(launch)
        .action_link= link_to 'destroy', launch, :confirm => 'Are you sure?', :method => :delete
        
=will_paginate(@launches, :renderer => RemoteLinkRenderer, :params => params)
