<h1>Listing launches</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Settings</th>
    <th>State</th>
  </tr>

<% @launches.each_with_index do |launch, idx| %>
  <tr>
    <td><%=h launch.name %></td>
    <td><%=h launch.settings %></td>
    <td><%=h launch.state %></td>
    <td><%= link_to 'Show', launch %></td>
    <td><%= link_to 'Edit', edit_launch_path(launch) %></td>
    <td><%= link_to 'Destroy', launch, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New launch', new_launch_path %>