.page_title
  =":New launch of" 
  %span.subapp_name
    =@subapp.name
  

%ul#launch_tabs.subsection_tabs
  %li.tab
    %a{ :href => "#partial" }
      partial
  %li.tab
    %a{ :href => "#settings" }
      settings
#partial.tabpanel
  =@input_html

#settings.tabpanel
  -form_for @launch do |f|
    = f.error_messages
    .prop_row
      .label
        = f.label :name 
      .field
        = f.text_field :name, :size => 40
    .prop_row
      .label
        = f.label :settings 
      .field
        = f.text_field :settings, :size => 40
    = f.submit 'Create'
  



= link_to 'Back', launches_path

%script
  !="new Control.Tabs('launch_tabs');"
  
