.page_title
  =":New launch of" 
  %span.subapp_name
    =@subapp.name
  

%ul#launch_tabs.subsection_tabs
  %li.tab
    %a{ :href => "#partial" }
      partial
  %li.tab
    %a{ :href => "#settings" }
      settings
#partial.tabpanel
  =@input_html

#settings.tabpanel
  -form_for @launch do |f|
    = f.error_messages
    .prop_row
      .label
        = f.label :name 
      .field
        = f.text_field :name, :size => 40
    .prop_row
      .label
        = f.label :settings 
      .field
        = f.text_area :settings, :rows => 40
    = f.submit 'Create', :onclick => 'collect_and_submit()'
    %input{:type => 'button', :onclick=> 'collect_and_submit();', :value => 'serialize'}
      



= link_to 'Back', launches_path

:javascript
  new Control.Tabs('launch_tabs');
  function collect_and_submit(){
    
    prepareSubmit();
    var object = $('partial_form').serialize(true);
    object.M_d = '111';
    var serString = Object.toJSON(object);
    $('launch_settings').value = serString;
    
    $('partial_form').deserialize(serString);
    return true;
  }
  
