.page_title
  =":New launch of" 
  %span.subapp_name
    =@subapp.name
  

%ul#launch_tabs.subsection_tabs
  %li.tab
    %a{ :href => "#partial" }
      partial
  %li.tab
    %a{ :href => "#settings" }
      settings
#partial.tabpanel
  %form#partial_form.tab_in_tab
    %ul#k3tabs
      / %li.tab
      /   %a{:href => "#model_params"}
      /     Model parameters
      / %li.tab
      /   %a{:href => "#indikator_parametek"}
      /     Indicator parameters
      / %li.tab
      /   %a{:href => "#integrator_params"}
      /     Integrator parameters
      / %li.tab
      /   %a{:href => "#kezdofeltetelek"}
      /     Initial constraints
      /     
    #model_params.tabpanel.group
      .group_title
        Model parameters
        
      :javascript 
      
        function mu_calc(){
          try{
            var m0 = parseFloat($F('m0'));
            $('mu').value = m0 / (m0 + parseFloat($F('m1')));
          }
          catch(err){
            $('mu').value = ""
          }
        }
        
        function resetMs(){
          $('m0').value = $('m1').value = "";
        }
        
        function two_or_three_dim(){
          var cond = $('dimension_2d').checked;
          if(cond){
            $('xi5').hide();
            $('xi6').hide();
            $('i_tr').hide();
            $('O_tr').hide();
          }
          else{
            $('xi5').show();
            $('xi6').show();
            $('i_tr').show();
            $('O_tr').show();
          }
        }
        
        function lci_or_me(){
          var cond = $('type_lci').checked;
          if(cond){
            $('xi').show();
          }
          else{
            $('xi').hide();
          }
        }
        
      .prop_row
        .label
          &mu; = m0/(m0+m1)
        .field
          %input{:type => "text", :id=>"mu", :onKeyUp=>"resetMs()"}

      .prop_row
        .label
          m0
        .field
          %input{:type => "text", :id=>"m0", :onKeyUp=>"mu_calc()"}

      .prop_row
        .label
          m1
        .field
          %input{:type => "text", :id=>"m1", :onKeyUp=>"mu_calc()"}
          
      .prop_row
        .label
          dimension
        .field
          %input{:type => "radio", :id=>"dimension_2d", :name => "dimension_group", :checked=>"true", :value => "2D", :onClick => 'two_or_three_dim()'}
            2D
          %input{:type => "radio", :id=>"dimension_3d", :name => "dimension_group", :value => "3D", :onClick => 'two_or_three_dim()'}
            3D
          
      .prop_row
        .label
          centre
        .field
          %input{:type => "radio", :id=>"centre_primary", :name => "centre_radio", :checked=>"true", :value => "primary"}
            primary
          %input{:type => "radio", :id=>"centre_mass", :name => "centre_radio", :value => "mass_centre"}
            mass centre
      

    #indikator_parametek.tabpanel.group
      .group_title
        Indicator parameters
      .prop_row
        .label
          type
        .field
          %input{:type => "radio", :id=>"type_lci", :name => "type_radio", :checked=>"true", :value => "lci", :onClick => 'lci_or_me()'}
            LCI
          %input{:type => "radio", :id=>"type_me", :name => "type_radio", :checked=>"true", :value => "me", :onClick => 'lci_or_me()'}
            ME
      #xi.prop_row
        .label
          &xi;
        .field
          %input{:type => "text", :id=>"xi1"}
          %input{:type => "text", :id=>"xi2"}
          %input{:type => "text", :id=>"xi3"}
          %input{:type => "text", :id=>"xi4"}
          %input{:type => "text", :id=>"xi5"}
          %input{:type => "text", :id=>"xi6"}
      .prop_row
        .label
          Navg
        .field
          %input{:type => "text", :id => "navg"}
          
      
    #integrator_params.tabpanel.group
      .group_title
        Integrator parameters
      .prop_row
        .label
          &epsilon;
        .field
          %input{:type => "text", :id=>"epsilon"}
      .prop_row
        .label
          length of integration
        .field
          %input{:type => "text", :id=>"length"}
          
    #kezdofeltetelek.tabpanel.group
      .group_title
        Initial condition
      %table
        %tr
          %th
            &nbsp;
          %th
            start
          %th
            end
          %th
            N
          %th
            D
        %tr
          %td
            e1
          %td
            %input{:type => "text", :id=>"e1_start"}
          %td
            %input{:type => "text", :id=>"e1_end"}
          %td
            %input{:type => "text", :id=>"e1_n"}
          %td
            %input{:type => "text", :id=>"e1_d"}
          
          %tr
            %td
              w1
            %td
              %input{:type => "text", :id=>"w1_start"}
            %td
              %input{:type => "text", :id=>"w1_end"}
            %td
              %input{:type => "text", :id=>"w1_n"}
            %td
              %input{:type => "text", :id=>"w1_d"}

          %tr
            %td
              M1
            %td
              %input{:type => "text", :id=>"M1_start"}
            %td
              %input{:type => "text", :id=>"M1_end"}
            %td
              %input{:type => "text", :id=>"M1_n"}
            %td
              %input{:type => "text", :id=>"M1_d"}

            %tr
              %td
                a
              %td
                %input{:type => "text", :id=>"a_start"}
              %td
                %input{:type => "text", :id=>"a_end"}
              %td
                %input{:type => "text", :id=>"a_n"}
              %td
                %input{:type => "text", :id=>"a_d"}

            %tr
              %td
                e
              %td
                %input{:type => "text", :id=>"e_start"}
              %td
                %input{:type => "text", :id=>"e_end"}
              %td
                %input{:type => "text", :id=>"e_n"}
              %td
                %input{:type => "text", :id=>"e_d"}

            %tr{:id => "i_tr"}
              %td
                i
              %td
                %input{:type => "text", :id=>"i_start"}
              %td
                %input{:type => "text", :id=>"i_end"}
              %td
                %input{:type => "text", :id=>"i_n"}
              %td
                %input{:type => "text", :id=>"i_d"}

            %tr
              %td
                w
              %td
                %input{:type => "text", :id=>"w_start"}
              %td
                %input{:type => "text", :id=>"w_end"}
              %td
                %input{:type => "text", :id=>"w_n"}
              %td
                %input{:type => "text", :id=>"w_d"}

            %tr{:id => "O_tr"}
              %td
                O
              %td
                %input{:type => "text", :id=>"O_start"}
              %td
                %input{:type => "text", :id=>"O_end"}
              %td
                %input{:type => "text", :id=>"O_n"}
              %td
                %input{:type => "text", :id=>"O_d"}

            %tr
              %td
                M
              %td
                %input{:type => "text", :id=>"M_start"}
              %td
                %input{:type => "text", :id=>"M_end"}
              %td
                %input{:type => "text", :id=>"M_n"}
              %td
                %input{:type => "text", :id=>"M_d"}

:javascript
  two_or_three_dim();
  lci_or_me();
    

#settings.tabpanel
  -form_for @launch do |f|
    = f.error_messages
    .prop_row
      .label
        = f.label :name 
      .field
        = f.text_field :name, :size => 40
    .prop_row
      .label
        = f.label :settings 
      .field
        = f.text_field :settings, :size => 40
    = f.submit 'Create'
  



= link_to 'Back', launches_path

%script
  !="new Control.Tabs('launch_tabs');"
  
