%h3 Launch history
%table
  %tr
    %th Name
    %th Created at
    %th State
  - @launches.each_with_index do |launch, idx|
    %tr{:class => (idx % 2 == 0) ? "even" : "odd"}
      %td= h launch.name
      %td= h launch.created_at
      %td= h launch.state
      %td
        .action_link= link_to 'show', edit_launch_path(launch)
        .action_link= link_to 'destroy', launch, :confirm => 'Are you sure?', :method => :delete
