-if flash[:error] 
  .error
    =flash[:error]

- form_for(@person, :url => { :action => :login_create }) do |f| 
  = f.error_messages 

  .prop_row
    .label
      = f.label :nick 
    .field
      = f.text_field :nick, :size => 40

  .prop_row
    .label
      Secret key
    .field
      = text_field :sec, :secret_key

  = f.submit 'Let me in'