!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title
      = controller.action_name 
      
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection' 
    = stylesheet_link_tag 'compiled/print.css', :media => 'print' 
    /
      [if IE]>
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    %style{:type=>"text/css", :media=>"screen"}
      /
        =@embedded_css rescue " "

    -#= javascript_include_tag :all, :recursive => true
   
    =javascript_include_tag :defaults
    =javascript_include_tag 'builder'
    =javascript_include_tag 'slider'
    =javascript_include_tag 'livepipe-ui/livepipe'
    =javascript_include_tag 'livepipe-ui/contextmenu'
    =javascript_include_tag 'livepipe-ui/cookie'
    =javascript_include_tag 'livepipe-ui/even_behavior'
    =javascript_include_tag 'livepipe-ui/hotkey'
    =javascript_include_tag 'livepipe-ui/progressbar'
    =javascript_include_tag 'livepipe-ui/rating'
    =javascript_include_tag 'livepipe-ui/resizable'
    =javascript_include_tag 'livepipe-ui/scrollbar'
    =javascript_include_tag 'livepipe-ui/selection'
    =javascript_include_tag 'livepipe-ui/selectmultiple'
    =javascript_include_tag 'livepipe-ui/tabs'
    =javascript_include_tag 'livepipe-ui/textarea'
    =javascript_include_tag 'livepipe-ui/window'

    =javascript_include_tag 'deserialize/deserialize'
    
  %body.bp.three-col
    #container
      #header
        =link_to image_tag("niif_honlap_logoN_gray.png"), :controller => :dashboard
        #title
          =":Grid:Portál"
      #sidebar
        .place_holder
          %a{:onClick => "debug_window.open()"}
            debug
            
      
      #content
        -if flash[:notice]
          .notice 
            = flash[:notice]
        = yield 
      #footer
        ="-----"
        #version
          commit version:
          =@git_version
          
#main_debug.debug{:title => "DEBUG"}
  
:javascript
  var debug_window = window_factory($('main_debug'), 
    {'position' : [20, 300], 
    'fade' : true, 
    'resizable' : true, 
    'min-width' : 300, 
    'min-height' : 100
    });  
  //debug_window.open();
  
  function debug(str){
    $('main_debug').down('.window_contents').update(str);
  }
  
  
  

